head, body, html {
    color: #3b0f01;
    background-color: seashell;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}

h1 {
    font-size: 100px;
    font-weight: 300;
    padding-top: 10%;
    padding-bottom: 5%;
}

h1#welcome::after {
    content: 'Fuelr';
    color: #ad2b07;
}

.btn-custom {
    background-color: #ad2b07;
    border-color: #ad2b07;
    color: seashell;
    border-radius: 20px;
    width: 12%;
    font-size: 24px;
}

.btn-custom:hover {
    color: #3b0f01;
}