head, body, html {
    color: #3b0f01;
    background-color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
}

.jumbotron {
    max-height: 35%;
    padding-top: 0%;
    color: black;
    text-align: center;
    background-color: #fd5000c4;
    padding-bottom: 3%;
}

h1 {
    font-size: 100px;
    padding-top: 5%;
    padding-bottom: 1%;
}

h2 {
    padding-bottom: 1%;
    color: #fd5000c4;
}

.lead {
    font-size: 24px;
}

.btn-custom {
    border-color: #fd5000c4;
    color: #fd5000c4;
    border-radius: 10px;
    width: 12%;
    font-size: 24px;
}

.btn-custom:hover {
    background-color: #fd5000c4;
    color: white;
}

.form-inline {
    flex-flow: row wrap;
    position: relative;
    display: flex;
    justify-content: center;
}

.wrapper {
    margin: 0 auto;
    background: white;
    border-radius: 20px;
    position: relative;
    width: 100%;
    padding-bottom: 5%;
}

input {
    height: 50px;
    border-radius: 10px;
    padding: 0px 40px 0px 10px;
    font-size: 18px;
    background-color: white;
    color: #fd5000c4;
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid black;
}

input::placeholder {
    color: #aaa;
    font-weight: 400;
}
  
input:focus {
    outline: none;
}
  