{% extends "base.html" %}

{% block head%}
{%endblock%}

{% block body%}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 style="color: white">Fuelr</h1>
        <p style="color: white" class="lead">Find the Best Gas Stops for Your Trip!</p>
    </div>
</div>

<div style='text-align: center;'>
    <h2>
        Enter Your Trip and Vehicle Info to Plan Your Gas Stops!
    </h2>
    <br>
    <div class="container">
        <div class="wrapper">
            <div class='row'>
                <div class='col-6'>
                    <form class='form-group' id='left' method='POST'>
                        <input class= 'search' type="text" method='POST' placeholder="Starting Location" id='search' autocomplete="off">
                        <div class="results">
                            <ul>
                            </ul>
                        </div>
                    </form>
                </div>
                <div class='col-6'>
                    <form class='form-group' method='POST'>
                        <input id="range" type="number" method='POST' placeholder="Max Range (Miles)" autocomplete="off">
                    </form>
                </div>
            </div>
        </div>
        <div class='wrapper-end'>
            <div class='row'>
                <div class='col-6'>
                    <form class='form-group' id='left' method='POST'>
                        <input type="text" method='POST' placeholder="Ending Location" id='search-end' autocomplete="off">
                        <div class="results-end">
                            <ul>
                            </ul>
                        </div>
                    </form>
                </div>
                <div class='col-6'>
                    <form class='form-group' method='POST'>
                        <input class="btn btn-dropdown btn-lg" placeholder="Gas Type" disabled>
                        </input>
                        <button type="button" class="btn btn-lg btn-dropdown dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button">Regular</button>
                            <button class="dropdown-item" type="button">Midgrade</button>
                            <button class="dropdown-item" type="button">Premium</button>
                            <button class="dropdown-item" type="button">Diesel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <form action="/" method='POST'>
        <button action='/' type="submit", class="btn btn-custom">
            Calculate
        </button>
    </form>
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{%endblock%}